<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBoks</title>
    <link rel="stylesheet" href="static/chat.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="logodiv"> <img src="static/icon.png" alt="" class="logo"></div>
        
    </div>
    
    <div class="container">
        <div class="message left">Hi there!</div>
        <div class="message right">Hello, how are you?</div>
    </div>

    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" >
            <button class="btn" type="submit"> Send </button>
        </form>
    </div>
    <div id="roomname" class="code">Room Code <%=roomname%></div>
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script src="static/client.js"></script>
</body>
</html>