body{
    /* background-color: palegreen; */
    background-image: linear-gradient(to bottom right, #04103a, #1e0a22);
    /* background-image: linear-gradient(to right, #09787a, #601a64); */
    color: white;
    height: 100vh;
    font-family: 'Inter';
}

img{
    width: 4rem;
    /* margin-bottom: 10px; */
    display: block;
    margin-left: 48%;
}

.code{
    display: block;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-size: 1rem;
}

.container{
    max-width: 700px;
    /* background-color: wheat; */
    background-color: rgba(248, 238, 255, 0.788);
    margin: auto;
    height: 60vh;
    border-radius: 30px;
    margin-top: -15px;
    padding-top: 20px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    /* height: 2px; */
    width: 10px;  /* Total width including `border-width` of scrollbar thumb */
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(253, 246, 233);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 20px;
  }



.message{
    background-color: #fff;
    /* background-image: linear-gradient(to right, #01bcbf, #9d3ea2); */
    width: 25%;
    padding: 10px;
    margin: 10px 15px;
    border-radius: 15px;
    color: rgb(85, 78, 64);
    /* font-family: sans-serif; */
    font-family: 'Inter' ;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

/* .new-user{
    background-color: palegreen;
} */

/* .rangila{
    background-color: black;
} */
#send-container{
    display: block;
    max-width: 725px;
    width: 100%;
    margin:auto;
    margin-top: 10px;
    text-align: center;
}

#messageInp{
    border: 0px;
    width: 88%;
    height: 45px;
    border-radius: 30px;
    font-family: sans-serif;
    padding-left: 10px;
}

.btn{
    border:0px;
    border-radius: 120px;
    /* background-color: rgb(255, 255, 255); */
    background-image : linear-gradient(to right, #008c8e, #9d3ea2);
    /* color: rgb(85, 78, 64); */
    color: white;
    height: 45px;
    padding: 15px;
    margin-top:10px;
    cursor: pointer;
}

.btn:hover{
    background-image : linear-gradient(to left, #01bcbf, #9d3ea2);
}

