
.content{
    grid-template-columns: 1fr;
}

.content-details{
    max-width: 45%;
    margin-top: -10rem;
    margin-left:5vw;
}

form{
    display: block;
}
input{
    width: 80%;
    /* font-family: 'Inter' ; */
}
button{
    display: block;
}


.title{
    font-size: 3rem;
    color: white;
    margin-bottom: 0.5rem;
    font-family: 'Poppins' ;
}

.paragraph{
    font-size: 1.5rem;
    color: rgb(202, 202, 202);
    margin-bottom: 1rem;
    font-family: 'Inter' ;
}

.search input{
    border:none;
    text-decoration: none;
    border-radius: 5rem;
    padding: .75rem;
    padding-left: 1.5rem;
    outline:none ;
    margin-bottom: 1rem;
    font-size: small;
}

.search-btn{
    width: 7rem;
    padding: .75rem;
    font-size: small;
    /* border: none;
    border-radius: 5rem;
    background-image: linear-gradient(to right, #01bcbf, #9d3ea2);
    color: white;
    cursor: pointer; */
}

.search-btn:hover{
    background-image: linear-gradient(to left, #02b6b9, #9d3ea2);
}

.image-group{
    position: relative; 
    text-align: center;
    background-color: #02b6b9;
}

.blob-bean{
    position: absolute;
    top: 19rem;
    left: 40%;
    /* max-width: 20rem; */
    width: 15rem;
    animation: move-down 2s infinite alternate;

}

.blob-large{
    position: absolute;
    top: 2.5rem;
    left: 50%;
    /* max-width: 30rem; */
    width: 25rem;
    animation: move-up 2s infinite alternate;
}


.content-details{
    order:1;
}

