.logo{
    position: absolute;
    display: none;
    width: 1rem;
    /* color: black; */
    color: white;
    
}

.nav{
    height: 5rem;
    margin-top: -3rem;
}

.nav{
    height: 8.5rem;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.nav-item{
    margin: 10%;
}

.nav-item:first-child{
    margin-left: -1.5rem;
}

.content{
    grid-template-columns: 1fr;
}

.content-details{
    max-width: 100%;
    margin-top: 15rem;
    margin-left:5vw;
}

form{
    display: block;
}
input{
    width: 80%;
    /* font-family: 'Inter' ; */
}
button{
    display: block;
}


.title{
    font-size: 3rem;
    color: white;
    margin-bottom: 0.5rem;
    font-family: 'Poppins' ;
}

.paragraph{
    font-size: 1.5rem;
    color: rgb(202, 202, 202);
    margin-bottom: 1rem;
    font-family: 'Inter' ;
}

.search input{
    border:none;
    text-decoration: none;
    border-radius: 5rem;
    padding: .75rem;
    padding-left: 1.5rem;
    outline:none ;
    margin-bottom: 1rem;
    font-size: small;
}

.search-btn{
    width: 7rem;
    padding: .75rem;
    font-size: small;
    /* border: none;
    border-radius: 5rem;
    background-image: linear-gradient(to right, #01bcbf, #9d3ea2);
    color: white;
    cursor: pointer; */
}

.search-btn:hover{
    background-image: linear-gradient(to left, #02b6b9, #9d3ea2);
}

.image-group{
    position: relative; 
    text-align: center;
    background-color: #02b6b9;
}

.blob-bean{
    position: absolute;
    top: 5rem;
    left: 30%;
    /* max-width: 20rem; */
    width: 7.5rem;
    animation: move-down 2s infinite alternate;

}

.blob-large{
    position: absolute;
    top: -3rem;
    left: 40%;
    /* max-width: 30rem; */
    width: 10rem;
    animation: move-up 2s infinite alternate;
}


.content-details{
    order:1;
}